/*CUSTOMER CSS*/

/*
#customer-table,
#customer-transactions-table {
	padding-top: 15px;
	margin-bottom: 15px;
	border-bottom: solid 1px #e3e3e3;
	thead th {
	    background-color: #fff;
	    color: #000;
	    padding: 18px 20px 18px 10px !important;
	    font-size: 13px;
	    text-transform: uppercase;
	    font-weight: 600;
	    border-top: solid 1px #e3e3e3;
	    border-bottom: solid 1px #e3e3e3;
	}
	tbody td {
	    padding: 12px 10px !important;
	    font-size: 12px;
	    text-transform: uppercase;
	    border: none;
	    color: #000;
	}
	tbody tr:nth-child(even) td {
		background-color: #f2f2f2;
	}
}

.dataTables_length,
.dataTables_filter {
	label {
		font-size: 12px;
		font-weight: 500;
	}
}
*/