$yellow: #ffe400;
$red: #ff4747;
$orange: #f79e02;
$green: #71c016;
$cyan: #66fcf1;
$blue: #248afd;
$gray: #747474;
$pink: #f172a1;
$purple: #8860d0;
$black: #272727;

#notification {
     a:hover,
     a:focus {
          text-decoration: none;
          h3, p {
               color: $blue;
          }
     }
}
