@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.customer-img-wrapper,
.employee-img-wrapper {
	max-width: 640px;
	max-height: 480px;
	padding: 0.25rem;
	img {
		outline: solid 1px #c9ccd7;
    	outline-offset: 1px;
	}
}	

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	border-color: #e3e3e3 #e3e3e3 #ffffff;
}
/*min-width: 180px;*/
.auth .auth-form-light {
	border: 1px solid #e3e3e3;
	max-width: 450px;
    margin: 0 auto;
}

.page-body-wrapper {
	padding-top: 50px;
}

.navbar {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-bottom: solid 1px rgba(0,0,0,0.06);
	.navbar-menu-wrapper {
		padding-left: 15px;
		padding-right: 15px;
		height: 50px;
		width: calc(100% - 160px);
		background-color: #fff;
		.navbar-nav {
			.nav-item.nav-profile img {
				height: 30px;
				width:30px;
			}
			.nav-item.dropdown .navbar-dropdown {
				top: 50px;
			}
			#profileDropdown {
				span {
					text-transform: capitalize;
					font-size: 14px;
					font-weight: 400;
					margin-right: 5px;
				}
			}
		}
	}
	.navbar-brand-wrapper {
		padding-left: 15px;
		height: 50px;
		width: 160px;
		background-color: #fff;
		.navbar-brand img {
			width: auto;
		}
	}
}

@media (min-width: 992px) {
	.navbar .navbar-brand-wrapper .navbar-brand {
		padding-left: 6px;
	}
}

.content-wrapper {
	background-color: #fafafa;
	padding-left: 15px;
	padding-right: 15px;
}

.sidebar {
	width: 160px;;
	background-color: #fafafa;
	.nav {
		&:not(.sub-menu) {
			margin-right: 0;
			> .nav-item.active {
				border-radius: 0;
				> a {
					.menu-icon,
					.menu-title {
						color: #ec1e27;
					}
				}
			}
		}
		.nav-item {
			.nav-link {
				padding: 0.75rem;
				i.menu-icon {
					margin-right: 0.75rem;
				}
			}
		}
		&.sub-menu {
			padding: 0 0 5px;
			.nav-item {
				.nav-link {
					font-size: 13px;
					padding: 12px 15px;
					border-top: solid 1px rgba(120,120,120,0.2);
				}
				&:before {
					content: none;
				}
			}
		}
	}
}


@media (min-width: 992px) {
	.main-panel {
		width: calc(100% - 160px);
	}
}

.card {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;

	.card-body,
	.card-heading {
		padding: 2rem 0.5rem 1rem;
	}
}

.form-control {
	height: 2.7rem;
	padding: 0.75rem 0.75rem;
}

.form-control:disabled,
.form-control[readonly] {
	background-color: #f2f2f2;
}

.input-group-append,
.input-group-prepend  {
	.input-group-text {
		background-color: #f2f2f2;
		min-width: 40px;
		color: #007bff;
	}
}

.table {
	th, td {
		padding: 0.75rem !important;
	}
	th {
		font-size: 12px !important;
		font-family: serif;
		font-weight: 600 !important;
	}
	td {
		font-size: 12px;
		border: 0;		
	}
	th, td {
		.table tbody {
			border-top: 0;
			> tr:nth-child(even) {
				background-color: #f7f6f5;
			}
		}
	}
	thead {
		border-bottom: solid 2px #e3e3e3;
	}
	tfoot {
		border-top: solid 2px #e3e3e3;
	}
	> tbody {
		border-top: solid 1px #e3e3e3;
		> tr {
			&:nth-child(even) {
				background-color: #f7f6f5;
			}
		}
	}
}

.table-responsive > 

.table.table-style-2 {
	th, td {
		padding: 1rem 1.5rem !important;
	}
	th {
		font-size: 14px;
	}
	td {
		font-size: 12px;
	}
}

.table.table-sm {
	th, td {
		padding: 0.5rem 0.5rem !important;
	}
}

select {
	width: 100%;
	border: 1px solid #c9ccd7;
	height: 2.7rem;
	padding: 0.75rem 0.75rem;
	font-weight: 400;
	font-size: 0.875rem;
}

.selectize-input {
	border: 1px solid #c9ccd7 !important;
	height: 2.7rem;
	padding: 0.75rem 0.75rem;
	border-radius: 2px;
	font-weight: 400;
	font-size: 0.875rem;
	overflow: visible;

	> {
		input {
			font-weight: 400;
			font-size: 0.875rem;
		}

		label.error {
			left: -1px;
			bottom: -31px;
			z-index: 9999;
		}
	}

	.item {
		color: #495057;
	}
}

form label.error {
	position: absolute;
	color: #ff4747;
	font-size: 13px;
}

.narrow-gutters {
	margin-left: -5px;
	margin-right: -5px;

	> div[class^="col"] {
		padding-right: 5px;
		padding-left: 5px;
	}
}

.font-weight-semibold {
	font-weight: 500 !important;
}

#purchase-summary-table {
	tr {
		&:hover,
		&:focus {
			td .remove-row {
				display: block;
			}
		}
	}
	th {
		font-weight: 500;
	}
	th, td {
		white-space: normal;
		line-height: 1.3em;
		vertical-align: top;
		padding-left: 5px !important;
		padding-right: 5px !important;
		font-size: 14px;
		position: relative;
		&:nth-child(1) {
			width: 15%;
		}
		&:nth-child(2) {
			width: 45%;
			p {
				margin-bottom: 0;
			}
			p + p {
				margin-bottom: 0;
				margin-top: 5px;
				padding-top: 5px;
				border-top: dashed 1px #c9ccd7;
				span {
					font-weight: 500;
				}
			}
			p:nth-child(3) {
				text-transform: capitalize;
			}
		}
		&:nth-child(3) {
			width: 10%;
			text-align: right;
		}
		&:nth-child(4) {
			width: 15%;
			text-align: right;
		}
		&:nth-child(5) {
			width: 15%;
			text-align: right;
		}
		&:nth-child(6),
		&:nth-child(7) {
			display: none;
		}

	}
	.remove-row {
		display: none;
		position: absolute;
		right: -12px;
		top: -12px;
		height: 24px !important;
		width: 24px !important;
		opacity: 0.8;
		transition: 0.2s;
		.ti-close {
			font-size: 10px;
		}
		&:hover,
		&:focus {
			opacity: 1;
			transition: 0.2s;
		}
	}
}

.text-field {
	display: inline-block;
	margin-bottom: 10px;
	label {
		font-size: 12px;
		color: #686868;
		margin: 0;
		font-weight: 500;
		user-select: none;
		text-transform: uppercase;
	}
	p {
		background-color: #f2f2f2;
		font-size: 12px;
		color: #000;
		padding: 8px 5px;
		margin: 0;
		line-height: 1.8em;
		min-height: 37px;
		text-transform: uppercase;
	}
}

input[type='date'] {
	font-size: 12px;
}

.breadcrumb {
	background-color: transparent;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 768px) {
	.text-right-sm {
		text-align: right !important;
	}
}

@media (max-width: 575px) {
	.text-center-xs {
		text-align: center !important;
	}
}

.footer {
	background-color: #fafafa;
}

.hidden {
	display: none;
}

.status_active {
	background-color: #71c016;
	padding: 5px;
	font-size: 11px;
	color: #fff;
	display: inline-flex;
	border-radius: 50%;
}

.status_inactive {
	background: #ff4747;
	padding: 5px;
	font-size: 11px;
	color: #fff;
	display: inline-flex;
	border-radius: 50%;
}

.bg-none {
	background-color: transparent;
}

.bg-light-2 {
	background-color: #e3e3e3 !important;
}
.text-light-2 {
	color: #e3e3e3;
}

.sidebar-icon-only #sidebar #filters {
	display: none;
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed !important;
	pointer-events: all !important;
	&:hover {
		cursor: not-allowed !important;
		pointer-events: all !important;
	}
}

.no-wrap {
	white-space: nowrap;
}
.confirm-modal {
	.modal-title {
		text-transform: capitalize !important;
	}
	.modal-body {
		text-transform: initial !important;
		text-align: left;
		white-space: normal !important;
	}
	.modal-footer {
		button {
			padding: inherit !important;
		}
		> :not(:last-child) {
			margin-left: 0;
		}
	}
}

.border-radius-2 {
	border-radius: 2px !important;
}

.border-radius-left-2 {
	border-radius: 2px 0 0 2px !important;
}

.border-radius-right-2 {
	border-radius: 0 2px 2px 0 !important;
}

.border-bottom-style-dotted {
	border-bottom-style: dotted !important;
}
.void:after,
.returned:after {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.6;
}
.void:after {
	content: url('../images/void-stamp.png');
}

.returned:after {
	content: url('../images/returned-stamp.png');
}
.border-top-light {
	border-top: solid 1px #e3e3e3;
}
.border-top-double {
	border-top: double 3px #c9ccd7 !important;
}
.border-bottom-dark-2 {
	border-bottom: 2px solid #545454 !important;
}
.border-top-dark-2 {
	border-top: 2px solid #545454 !important;
}
.border-top-dark {
	border-color: #a2a2a2;
}

.added-to-cart {
	color: #248afd;
	cursor: default;
	pointer-events: none;
	background-color: transparent;
	border: none;
}
.datepicker-left {
	border-radius: 2px 0 0 2px !important;
}
.datepicker-right {
	border-radius: 0 2px 2px 0 !important;
}
.font-12 {
	font-size: 12px !important;
}
.font-11 {
	font-size: 11px !important;
}
.font-14 {
	font-size: 14px !important;
}
.has-loader {
	display: none;
}	
.bg-dim {
	background-color: #f2f2f2;
}

.m-10px {
	margin: 10px;	
}
.mx-10px {
	margin-left: 10px;	
	margin-right: 10px;	
}
.my-10px {
	margin-top: 10px;	
	margin-bottom: 10px;	
}
.mt-10px {
	margin-top: 10px;	
}
.ml-10px {
	margin-left: 10px;	
}
.mb-10px {
	margin-bottom: 10px;	
}
.mr-10px {
	margin-right: 10px;	
}

#cart,
#product-table,
#report-table,
#transaction-table,
#fund-table,
#expenses-table,
#customer-table,
#type-table,
#brand-table,
#appraiser-table,
#location-table,
#user-table,
#admin-table {
	margin-bottom: 0 !important;
	thead,
	tfoot {
		th {
			font-size: 12px; 			
			text-align: center;
			font-family: serif;
			font-weight: bold;
		}
	}
	thead {
		th {
			background-color: #f2f2f2;
			padding: 18px 8px 12px !important;
			border-bottom: 0 !important;			
			border-top: solid 1px #e3e3e3;
			border-bottom: solid 1px #e3e3e3 !important;
			// box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
			position: sticky;
			top: 0;
			&:first-child{
				border-left: solid 1px #e3e3e3;				
			}
			&:last-child{
				border-right: solid 1px #e3e3e3;				
			}
		}
		th + th {
			border-left: solid 1px #fff;
		}		
		&:after {
			// content: "";
			height: 1px;
			display:block;	    	
			margin-top: -1px;
			margin-bottom: 10px;
			box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
		}	
	}
	
	tbody {
		td {
			padding: 10px 5px !important;
			// background-color: #fff;
			// border-top: solid 1px #e3e3e3;
			
			&:first-child{
				border-left: solid 1px #e3e3e3;
			}
			&:last-child{
				border-right: solid 1px #e3e3e3;
			}
		}
		td + td {
			border-left: dotted 1px #e3e3e3;
		}
	}

	tbody.no-border tr {
		&:first-child td {
			border-top: 0;
		}
		td {
			&:first-child{
				border-left: 0;
			}
			&:last-child{
				border-right: 0;
			}
		}
		td + td {
			border-left: 0;
		}
	}

	tbody.narrow-height tr td {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}


	&.no-footer {
		border-bottom: solid 1px #e3e3e3;
	}

	tfoot {
		th {
			background-color: #f2f2f2;
			padding: 15px 8px !important;
			border-top: solid 1px #e3e3e3;
			border-bottom: solid 1px #e3e3e3;	
			&:first-child{
				border-left: solid 1px #e3e3e3;				
			}
			&:last-child{
				border-right: solid 1px #e3e3e3;				
			}		
		}

		th {
			border-left: dotted 1px #e3e3e3;
		}
	}

	tfoot.hidden-footer tr {
		th, td {
			padding: 5px !important;
			background: none;
			border-left: 0;
			border-right: 0;
			border-top: 0;
			border-bottom: 0;
		}
	}
	
}

.datepicker-item {
	position: relative;
}
.datepicker-label {               
	opacity: 0;
	position: absolute;
	font-size: 10px;
	bottom: -18px;
	left: 0;
	margin: 0;
	color: #686868;
	font-weight: 600;
	transition: opacity 0.3s;
}
input.datepicker:not(:placeholder-shown) + .datepicker-label {
	opacity: 1;
	transition: opacity 0.3s;
}
.icon-bg-peso {
	background: url(../svg/peso.svg);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 10px;
	padding-left: 35px;
	/*inset 32px 0 0 #c9ccd7*/
}

.icon-bg-calendar {
	background: url(../svg/event.svg);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 10px;
	padding-left: 40px;
}

.input-group-append {
	width: calc(100% - 40px);
}
.border-bottom-nav {
	border-bottom: solid 1px #e3e3e3;
}

@media (max-width: 576px) {
	.border-xs-right-nav {
		border-right: solid 1px #e3e3e3;
	}
	.border-xs-left-nav {
		border-left: solid 1px #e3e3e3;
	}
	.bg-xs-white {
		background-color: #ffffff;
	}		
}

.h-42px {
	height: 42px !important;
}

ul.list-inline-barred {
	padding-left: 0 !important;
	li {
		line-height: 1.5em;
	}
	/*li:(not(:last-child)) {*/
		/*border-right: solid 1px #e3e3e3;*/
		/*padding-left: 0.5rem;*/
		/*}*/
		li:not(:last-child) {
			border-right: solid 1px #e3e3e3;
			padding-right: 0.5rem;
		}
	}

	.bg-img-none {
		background-image: none !important;
	}

	.btn.btn-md {
		padding: 11px 18px;
		font-size: 12px;
		border-radius: 2px;
	}
	#filter-wrapper {
		input {
			height: 36px;
		}
		.datepicker {
			max-width: 100px;
			font-size: 12px;
		}
	}

	.border-light-2 {
		border-color: #c9ccd7;
	}
	.date-range-separator {
		height: 36px;
		border-left: 0;
		border-right: 0;
		border-radius: 0;
		position: relative;
		z-index: 2;
		margin-left: -1px;
		margin-right: -1px;
		padding-left: 0;
		padding-right: 0;
		background-color: #fff;
	}
	.slimScrollDiv {
		overflow: visible !important;
	}
	.bg-cgp {
		background-color: #ec1e27 !important;
	}
	.text-cgp {
		color: #ec1e27 !important;
	}

	.border-color-cgp {
		border-color: #ec1e27 !important;
	}

	
	.switch {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 24px;
		margin-bottom: 0;
		input {
			opacity: 0;
			width: 0;
			height: 0;
		}
	}
	
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;

		&:before {
			position: absolute;
			content: "";
			height: 16px;
			width: 16px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}
		&.round {
			border-radius: 34px;
		}

		&.round:before {
			border-radius: 50%;
		}
	}

	input {
		&:checked + .slider {
			background-color: #71c016;
		}

		&:focus + .slider {
			box-shadow: 0 0 1px #71c016;
		}

		&:checked + .slider:before {
			-webkit-transform: translateX(16px);
			-ms-transform: translateX(16px);
			transform: translateX(16px);
		}
	}

	/* Rounded sliders */

.locked label {
	user-select: none;
}
.locked input[type='text'], 
.locked input[type='email'], 
.locked input[type='number'], 
.locked .select2-selection, 
.locked select, .locked textarea {
	pointer-events: none;
	background-color: #f2f2f2 !important;
	border-color: transparent !important;
	color: #000;
	transition: all 0.2s;
}
.locked select {
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #000;
}
.locked .select2-selection .select2-selection__rendered {
	color: #000 !important;
}
.locked .select2-selection .select2-selection__arrow {
	display: none;
}
.line-height-1-5em {
	line-height: 1.5em;
}
.user-select-none {
	user-select: none;
}
.transition-2 {
	transition: 0.2s;
}
.pointer-events-none {
	pointer-events: none;
}

#report-form {
	.btn {
		text-transform: uppercase;
	}
}

.blinking{
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (min-width: 576px) {
	.position-sm-absolute {
		position: absolute;
	}
}

