    .report-panel__container {
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    /* default gradient */
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
    .report-panel__inner {
        overflow: hidden;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        .report-panel__header {
            position: relative;
            padding: 25px 20px 15px;
            h5 {
                color: #fff;
                font-size: 1rem;
            }
            p {
                color: #fff;
                font-size: 13px;
                line-height: 1.2em;
                margin-bottom: 5px;
                transition: all 0.2s;
            }
            .icon {
                color: #fff;
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
            }
            .dropdown-menu__locations {
                position: absolute;
                bottom: 0;
                right: 0;
                // background-color: #fff;
                z-index: 1;
                // box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3);
                button {
                    margin-top: 5px;
                    color: #93291E;
                    padding-left: 0;
                    padding-right: 20px;
                    padding-left: 5px;
                    min-width: 175px;
                    text-align: right;
                    color: #FFF;
                }
                .dropdown-menu {
                    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
                    outline: solid 2px #93291E;
                    outline-offset: -3px;
                }
                &:after {
                    // content: "";
                    position: absolute;
                    bottom: 0;
                    left: -64px;
                    border-style: solid;
                    border-width: 32px;
                    border-color: transparent white white transparent;
                }
                &:before {
                    // content: "";
                    position: absolute;
                    bottom: -7px;
                    left: 70px;
                    box-shadow: 3px 0px 5px rgba(0, 0, 0, .3);
                    height: 100px;
                    width: 100px;
                    transform-origin: bottom;
                    -webkit-transform-origin-x: left;
                    -webkit-transform-origin-y: bottom;
                    transform: rotate( 225deg );
                }
            }
        }
        .report-panel__content {
            background-color: #fff;
            // margin-left: 10px;
            padding: 20px;
            position: relative;
            box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.3);            
            a {
                text-decoration: none;
            }
            h3, h2 {
                color: #93291E;
                transition: all 0.2s;
            }
            p {
                color: #5F5753;
                font-size: 13px;
                line-height: 1.2em;
                margin-bottom: 5px;
                transition: all 0.2s;
            }
            &:before {
                // content: "";
                position: absolute;
                bottom: 0;
                left: -10px;
                border-style: solid;
                border-width: 5px;
                border-color: transparent white white transparent;
            }
        }
    }

}

.report-tile__container {
    height: 100%;
    padding-bottom: 30px;
    min-height: 120px;
    .report-tile__inner {
        /* default gradient */
        background: #ED213A;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        &:hover {
            .report-tile__icon {                
                svg {
                    transform: scale(1.3);
                    transition: transform 0.2s;
                }
            }
            .report-tile__text {
                h5, p {
                    color: #93291E;
                    transition: all 0.2s;
                }
            }
        }

        &.gradient-very-blue {
            background: #0575E6;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            .report-tile__text {
                h3 {
                    color: #021B79;
                }
            }
            &:hover {
                .report-tile__text {
                    h5, p {
                        color: #021B79;
                        transition: all 0.2s;
                    }
                }
            }
        }

        display: table;
        width: 100%;
        height: 100%;
        text-decoration: none;       
        overflow: hidden;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        .report-tile__icon,
        .report-tile__text {
            display: table-cell;
            vertical-align: middle;
            position: relative;
        }
        .report-tile__icon {                
            text-align: center;
            width: 20%;
            padding: 30px 40px 20px 20px;
            &:before, &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 10px;
                background-color: #fff;
                left: 0;
                top: 0;
                
            }
            &:after {
                z-index: 2;
            }
            &:before {
                box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
                z-index: 0;
            }                
            svg {
                color: #fff;
                transition: transform 0.2s;
            }
        }
        .report-tile__text {
            width: 80%;
            padding: 20px 10px 20px;
            z-index: 1;
            &:before {
                content: "";
                position: absolute;
                height: calc(100% - 10px);
                width: 100%;
                left: 0;
                top: 0;
                background-color: #fff;
                z-index: -1;
                box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
            }
            &:after {
                content: "";
                position: absolute;
                bottom: 10px;
                left: 0;
                width: 100px;
                background-color: #fff;
                height: 200px;
                transform: rotate( -20deg );
                transform-origin: bottom;
                -webkit-transform-origin-x: left;
                -webkit-transform-origin-y: bottom;
                z-index: -2;
                box-shadow: -3px 4px 5px rgba(0,0,0,0.3);
            }
            h5 {
                color: #3E332D;
                transition: all 0.2s;
            }
            h3 {
                color: #93291E;
                transition: all 0.2s;
            }
            p {
                color: #5F5753;
                font-size: 13px;
                line-height: 1.2em;
                margin-bottom: 5px;
                transition: all 0.2s;
            }
        }
        
    }
}
