/* Transaction CSS */
#transaction-table {
	margin-bottom: 15px !important;
	border-bottom: solid 1px #e3e3e3;
	thead {
		th {
			padding-right: 20px !important;
			padding-bottom: 15px !important;
			text-transform: uppercase;
			text-align: left;
			white-space: nowrap;
		}
	}
	tbody {
		tr {
			&:first-child {
				td {
					border-top: solid 1px #e3e3e3;
				}
			}
		}
		tr.even {
			td {
				background-color: #f5f4f3 !important;
			}
		}
		td {
			font-size: 12px;
			text-transform: uppercase;
			line-height: 1.5em;
			span {
				display: block;
				font-size: 10px;
				color: #787878;
				max-width: 150px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

          tr[data-status="Due"] td:first-child {
               border-left: solid 3px #ffe400 !important;
          }
          tr[data-status="Expired"] td:first-child {
               border-left: solid 3px #ff4747 !important;
          }
          tr[data-status="Grace Period"] td:first-child {
               border-left: solid 3px #f79e02 !important;
          }
          tr[data-status="In Contract"] td:first-child {
               border-left: solid 3px #71c016 !important;
          }
          tr[data-status="Freeze"] td:first-child {
               border-left: solid 3px #66fcf1 !important;
          }
          tr[data-status="For Sale"] td:first-child {
               border-left: solid 3px #248afd !important;
          }
          tr[data-status="For Repair"] td:first-child {
               border-left: solid 3px #747474 !important;
          }
          tr[data-status="For Transfer"] td:first-child {
               border-left: solid 3px #747474 !important;
          }
          tr[data-status="For Disposal"] td:first-child {
               border-left: solid 3px #f172a1 !important;
          }
          tr[data-status="Sold"] td:first-child {
               border-left: solid 3px #8860d0 !important;
          }
          tr[data-status="Repurchased"] td:first-child {
               border-left: solid 3px #8860d0 !important;
          }
          tr[data-status="Disposed"] td:first-child {
               border-left: solid 3px #272727 !important;
          }
	}
}
#transaction-create-form {
	.card-body.bg-light {
		border-top: solid 1px #eee;
		border-bottom: solid 1px #eee;
		background-color: #fff;
	}
	input.error {
		border-color: #dc3545;
	}
	select.error {
		+ {
			.select2 {
				.selection {
					.select2-selection {
						border-color: #dc3545;
					}
				}
			}
		}
	}
	label {
		&:not(.error) {
			color: #282f3a;
			font-weight: 500;
			margin-bottom: 3px;
		}
	}
}
#transaction-records {
	label {
		margin-bottom: 0;
		font-size: 14px;
		color: #545454;
		text-transform: uppercase;
		font-weight: 500;
	}
	.date-range {
		font-size: 0;
		label {
			display: block;
			font-size: 12px;
		}
		.date-range-from {
			display: inline-block;
			width: 50%;
			border-right-width: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		.date-range-to {
			display: inline-block;
			width: 50%;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}
.table-responsive {
	padding-bottom: 30px;
}
.dataTables_wrapper {
	.dataTables_filter {
		label {
			text-transform: uppercase;
			font-size: 12px;
		}
		input {
			margin-right: 0;
			font-size: 12px;
		}
	}
}
.dataTables_length {
	text-transform: uppercase;
	font-size: 12px;
}
.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
}
#expand-table-btn {
	padding-top: 12px;
	padding-bottom: 11px;
	min-width: 105px;
}
#filter-toggle {
	padding-top: 12px;
	padding-bottom: 11px;
	min-width: 105px;
}
#filters {
	.select2 {
		.select2-selection {
			height: 34px;
			.select2-selection__rendered {
				font-size: 12px;
				font-weight: 400;
				padding: 2px 22px 2px 5px;
				text-transform: uppercase;
			}
			.select2-selection__arrow {
				top: 3px;
			}
		}
	}
	label {
		font-size: 12px;
	}
	input {
		height: 34px;
		font-size: 12px;
		text-transform: uppercase;
		padding: 2px 5px;
	}
}
.table-options {
	a {
		transition: 0.2s;
	}
}
#transaction-details {
	.text-field {
		label {
			text-transform: uppercase;
		}
		p {
			text-transform: uppercase;
		}
	}
	.td-container {
		margin-bottom: 30px;
	}
	.td-title {
		font-family: 'Raleway', sans-serif;
		color: #fff;
		margin: 0 auto;
		max-width: 230px;
		text-align: center;
		padding: 15px;
		font-size: 14px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		position: relative;
		z-index: 2;
		box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
		&:before {
			content: "";
			position: absolute;
			border-style: solid;
			border-width: 8px;
			top: 0;
		}
		&:after {
			content: "";
			position: absolute;
			border-style: solid;
			border-width: 8px;
			top: 0;
		}
	}
	.td-blue {
		.td-title {
			background-color: #0093E9;
			background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
			&:before {
				border-color: transparent #005383 #005383 transparent;
				left: -16px;
			}
			&:after {
				content: "";
				position: absolute;
				border-style: solid;
				border-width: 8px;
				border-color: transparent transparent #3fab9f #3fab9f;
				right: -16px;
			}
		}
		.td-footer {
			&:after {
				background-color: #0093E9;
				background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
			}
			&:before {
				border-color: #005383 transparent transparent transparent;
			}
		}
		.td-icon {
			i {
				color: #80D0C7;
			}
		}
	}
	.td-green {
		.td-title {
			background-color: #F4D03F;
			background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
			&:before {
				border-color: transparent #c29e0b #c29e0b transparent;
				left: -16px;
			}
			&:after {
				content: "";
				position: absolute;
				border-style: solid;
				border-width: 8px;
				border-color: transparent transparent #0a463a #0a463a;
				right: -16px;
			}
		}
		.td-footer {
			&:after {
				background-color: #F4D03F;
				background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
			}
			&:before {
				border-color: #0a463a transparent transparent transparent;
			}
		}
		.td-icon {
			i {
				color: #16A085;
			}
		}
	}
	.td-purple {
		.td-title {
			background-color: #21D4FD;
			background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
			&:before {
				border-color: transparent #0295b6 #0295b6 transparent;
				left: -16px;
			}
			&:after {
				content: "";
				position: absolute;
				border-style: solid;
				border-width: 8px;
				border-color: transparent transparent #7e00ba #7e00ba;
				right: -16px;
			}
		}
		.td-footer {
			&:after {
				background-color: #21D4FD;
				background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
			}
			&:before {
				border-color: #7e00ba transparent transparent transparent;
			}
		}
		.td-icon {
			i {
				color: #B721FF;
			}
		}
	}
	.td-magenta {
		.td-title {
			background-color: #FBDA61;
			background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
			&:before {
				border-color: transparent #f0be06 #f0be06 transparent;
				left: -16px;
			}
			&:after {
				content: "";
				position: absolute;
				border-style: solid;
				border-width: 8px;
				border-color: transparent transparent #f300a9 #f300a9;
				right: -16px;
			}
		}
		.td-footer {
			&:after {
				background-color: #FBDA61;
				background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
			}
			&:before {
				border-color: #f300a9 transparent transparent transparent;
			}
		}
		.td-icon {
			i {
				color: #FF5ACD;
			}
		}
	}
	.td-label {
		font-weight: 400;
		margin-bottom: 5px;
		text-align: right;
		font-size: 12px;
		line-height: 1em;
	}
	.td-value {
		font-weight: 300;
		margin-bottom: 5px;
		font-size: 12px;
		line-height: 1em;
	}
	.td-icon {
		text-align: center;
		padding: 5px 0 20px;
		position: relative;
		z-index: 3;
		i {
			font-size: 36px;
		}
	}
	.td-content {
		background-color: #f8f9fa;
		margin-top: -34px;
		padding: 55px 5px 20px;
		border-radius: 15px;
		-webkit-box-shadow: 0 10px 6px -6px #777;
		-moz-box-shadow: 0 10px 6px -6px #777;
		box-shadow: 0 10px 6px -6px #777;
		overflow: hidden;
		position: relative;
		.row {
			margin-bottom: 5px;
			margin-left: 10px;
			margin-right: 10px;
			>[class^='col-'] {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
	.td-footer {
		position: relative;
		&:after {
			content: "";
			left: 50%;
			transform: translateX(-50%);
			position: absolute;
			width: 100px;
			height: 12px;
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
			top: -8px;
		}
		&:before {
			content: "";
			left: 50%;
			transform: translateX(-50%);
			position: absolute;
			width: 109px;
			height: 0;
			top: 0;
			border-width: 4px;
			border-style: solid;
		}
	}
}
ul.transaction-status {
	li {
		padding: 5px 10px;
		font-size: 12px;
		border-radius: 2px;
		margin-bottom: 10px;
		margin-bottom: 5px !important;
	}
	.status-due {
		background-color: #ffe400;
		color: #000;
	}
	.status-expired {
		background-color: #ff4747;
		color: #fff;
	}
	.status-grace {
		background-color: #f79e02;
		color: #000;
	}
	.status-contract {
		background-color: #71c016;
		color: #000;
	}
	.status-freeze {
		background-color: #66fcf1;
		color: #000;
	}
	.status-sale {
		background-color: #248afd;
		color: #fff;
	}
	.status-repair {
		background-color: #747474;
		color: #fff;
	}
	.status-disposal {
		background-color: #f172a1;
		color: #000;
	}
	.status-sold {
		background-color: #8860d0;
		color: #fff;
	}
	.status-disposed {
		background-color: #272727;
		color: #fff;
	}
}
#transaction-table_length {
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
	margin-left: 12px;
}
#transaction-table_filter {
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
	margin-left: 9px;
}
.text-due {
	color: #ffe400;
}
.text-expired {
	color: #ff4747;
}
.text-grace {
	color: #f79e02;
}
@media (min-width: 992px) {
	.item-notification {
		position: absolute;
		right: 0;
		top: -56px;
		ul {
			transition: 0.5s;
			transition-timing-function: ease-in-out;
			position: relative;
			border-radius: 20px;
			margin-right: -30px;
			padding: 10px 35px 11px 20px;
			right: -310px;
			li {
				a {
					transition: 0.2s;
					&:hover {
						color: #007bff !important;
					}
				}
			}
		}
		ul.slide {
			right: 0;
		}
		button {
			position: relative;
			z-index: 1;
			margin-top: -1px;
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
			&:hover {
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
			}
			&:focus {
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
			}
		}
		&:after {
			content: "";
			position: absolute;
			z-index: 0;
			left: 100%;
			background: #fafafa;
			width: 100%;
			height: 42px;
			margin-left: -25px;
		}
	}
}
@media (max-width: 991px) {
	.item-notification {
		ul {
			border: none !important;
			background: none !important;
		}
		button {
			display: none;
		}
	}
}
@media (max-width: 767px) {
	#transaction-details {
		.td-container {
			margin-bottom: 50px;
		}
		.td-label {
			text-align: left;
			font-size: 11px;
			margin-bottom: 0;
			font-weight: 500;
		}
	}
}
@media (min-width: 768px) {
	#transaction-details {
		.td-icon {
			position: absolute;
			top: 10px;
			right: 20px;
		}
		.td-content {
			.row {
				>[class^='col-'] {
					&:first-child {
						&:before {
							content: "";
							background-color: #f2f2f2;
							height: 100vh;
							width: calc(100% + 20px);
							left: -20px;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							z-index: 0;
						}
						.td-label {
							z-index: 1;
							position: relative;
						}
					}
				}
			}
		}
	}
}
