.legends {
  border: 1px dashed #76838f;
  padding: 20px 10px 10px;
  margin-bottom: 20px;
  position: relative;
}
.legends span {
  display: inline-flex !important;
  margin-right: 10px;
}
.legends .btn {
  padding: 5px;
}
.legends .btn i {
  font-size: 12px;
}
.legends .title {
  font-size: 12px;
  text-transform: uppercase;
  color: #76838f;
}
.legends p {
  font-size: 11px;
  text-transform: uppercase;
}
.legends:before {
  content: "LEGENDS";
  position: absolute;
  top: -12px;
  font-size: 12px;
  font-weight: bold;
  background: #fff;
  padding: 5px;
  color: #248afd;
  letter-spacing: 2px;
}

.table {
  padding: 15px 0 0;
  margin-bottom: 15px !important;
}
.table tr {
  cursor: initial !important;
}
.table thead th {
  border-bottom: solid 1px #545454 !important;
}
.table th {
  font-weight: bold !important;
  background-color: #fff;
  color: #000;
  font-size: 14px !important;
  padding: 15px 5px !important;
  text-transform: uppercase;
}
.table td {
  text-transform: uppercase;
  font-size: 12px !important;
  padding: 10px 5px !important;
  border-top: solid 1px #e3e3e3;
}
.table td.user-id {
  text-transform: initial !important;
}
.table .btn {
  padding: 8px 12px;
}
.table .btn i {
  font-size: 12px;
}
.table .highlighted {
  background: rgba(245, 166, 35, 0.2) !important;
}

.btn-return {
  margin-top: -8px;
}
.btn-return i {
  font-size: 12px !important;
}

.btn {
  font-size: 13px !important;
  text-transform: uppercase;
}

.form-btns button {
  width: 100%;
}
