@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.customer-img-wrapper,
.employee-img-wrapper {
  max-width: 640px;
  max-height: 480px;
  padding: 0.25rem;
}
.customer-img-wrapper img,
.employee-img-wrapper img {
  outline: solid 1px #c9ccd7;
  outline-offset: 1px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: #e3e3e3 #e3e3e3 #ffffff;
}

/*min-width: 180px;*/
.auth .auth-form-light {
  border: 1px solid #e3e3e3;
  max-width: 450px;
  margin: 0 auto;
}

.page-body-wrapper {
  padding-top: 50px;
}

.navbar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.06);
}
.navbar .navbar-menu-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  width: calc(100% - 160px);
  background-color: #fff;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile img {
  height: 30px;
  width: 30px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
  top: 50px;
}
.navbar .navbar-menu-wrapper .navbar-nav #profileDropdown span {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
}
.navbar .navbar-brand-wrapper {
  padding-left: 15px;
  height: 50px;
  width: 160px;
  background-color: #fff;
}
.navbar .navbar-brand-wrapper .navbar-brand img {
  width: auto;
}

@media (min-width: 992px) {
  .navbar .navbar-brand-wrapper .navbar-brand {
    padding-left: 6px;
  }
}
.content-wrapper {
  background-color: #fafafa;
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar {
  width: 160px;
  background-color: #fafafa;
}
.sidebar .nav:not(.sub-menu) {
  margin-right: 0;
}
.sidebar .nav:not(.sub-menu) > .nav-item.active {
  border-radius: 0;
}
.sidebar .nav:not(.sub-menu) > .nav-item.active > a .menu-icon,
.sidebar .nav:not(.sub-menu) > .nav-item.active > a .menu-title {
  color: #ec1e27;
}
.sidebar .nav .nav-item .nav-link {
  padding: 0.75rem;
}
.sidebar .nav .nav-item .nav-link i.menu-icon {
  margin-right: 0.75rem;
}
.sidebar .nav.sub-menu {
  padding: 0 0 5px;
}
.sidebar .nav.sub-menu .nav-item .nav-link {
  font-size: 13px;
  padding: 12px 15px;
  border-top: solid 1px rgba(120, 120, 120, 0.2);
}
.sidebar .nav.sub-menu .nav-item:before {
  content: none;
}

@media (min-width: 992px) {
  .main-panel {
    width: calc(100% - 160px);
  }
}
.card {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
}
.card .card-body,
.card .card-heading {
  padding: 2rem 0.5rem 1rem;
}

.form-control {
  height: 2.7rem;
  padding: 0.75rem 0.75rem;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #f2f2f2;
}

.input-group-append .input-group-text,
.input-group-prepend .input-group-text {
  background-color: #f2f2f2;
  min-width: 40px;
  color: #007bff;
}

.table th, .table td {
  padding: 0.75rem !important;
}
.table th {
  font-size: 12px !important;
  font-family: serif;
  font-weight: 600 !important;
}
.table td {
  font-size: 12px;
  border: 0;
}
.table th .table tbody, .table td .table tbody {
  border-top: 0;
}
.table th .table tbody > tr:nth-child(even), .table td .table tbody > tr:nth-child(even) {
  background-color: #f7f6f5;
}
.table thead {
  border-bottom: solid 2px #e3e3e3;
}
.table tfoot {
  border-top: solid 2px #e3e3e3;
}
.table > tbody {
  border-top: solid 1px #e3e3e3;
}
.table > tbody > tr:nth-child(even) {
  background-color: #f7f6f5;
}

.table-responsive >
.table.table-style-2 th, .table-responsive >
.table.table-style-2 td {
  padding: 1rem 1.5rem !important;
}
.table-responsive >
.table.table-style-2 th {
  font-size: 14px;
}
.table-responsive >
.table.table-style-2 td {
  font-size: 12px;
}

.table.table-sm th, .table.table-sm td {
  padding: 0.5rem 0.5rem !important;
}

select {
  width: 100%;
  border: 1px solid #c9ccd7;
  height: 2.7rem;
  padding: 0.75rem 0.75rem;
  font-weight: 400;
  font-size: 0.875rem;
}

.selectize-input {
  border: 1px solid #c9ccd7 !important;
  height: 2.7rem;
  padding: 0.75rem 0.75rem;
  border-radius: 2px;
  font-weight: 400;
  font-size: 0.875rem;
  overflow: visible;
}
.selectize-input > input {
  font-weight: 400;
  font-size: 0.875rem;
}
.selectize-input > label.error {
  left: -1px;
  bottom: -31px;
  z-index: 9999;
}
.selectize-input .item {
  color: #495057;
}

form label.error {
  position: absolute;
  color: #ff4747;
  font-size: 13px;
}

.narrow-gutters {
  margin-left: -5px;
  margin-right: -5px;
}
.narrow-gutters > div[class^="col"] {
  padding-right: 5px;
  padding-left: 5px;
}

.font-weight-semibold {
  font-weight: 500 !important;
}

#purchase-summary-table tr:hover td .remove-row, #purchase-summary-table tr:focus td .remove-row {
  display: block;
}
#purchase-summary-table th {
  font-weight: 500;
}
#purchase-summary-table th, #purchase-summary-table td {
  white-space: normal;
  line-height: 1.3em;
  vertical-align: top;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 14px;
  position: relative;
}
#purchase-summary-table th:nth-child(1), #purchase-summary-table td:nth-child(1) {
  width: 15%;
}
#purchase-summary-table th:nth-child(2), #purchase-summary-table td:nth-child(2) {
  width: 45%;
}
#purchase-summary-table th:nth-child(2) p, #purchase-summary-table td:nth-child(2) p {
  margin-bottom: 0;
}
#purchase-summary-table th:nth-child(2) p + p, #purchase-summary-table td:nth-child(2) p + p {
  margin-bottom: 0;
  margin-top: 5px;
  padding-top: 5px;
  border-top: dashed 1px #c9ccd7;
}
#purchase-summary-table th:nth-child(2) p + p span, #purchase-summary-table td:nth-child(2) p + p span {
  font-weight: 500;
}
#purchase-summary-table th:nth-child(2) p:nth-child(3), #purchase-summary-table td:nth-child(2) p:nth-child(3) {
  text-transform: capitalize;
}
#purchase-summary-table th:nth-child(3), #purchase-summary-table td:nth-child(3) {
  width: 10%;
  text-align: right;
}
#purchase-summary-table th:nth-child(4), #purchase-summary-table td:nth-child(4) {
  width: 15%;
  text-align: right;
}
#purchase-summary-table th:nth-child(5), #purchase-summary-table td:nth-child(5) {
  width: 15%;
  text-align: right;
}
#purchase-summary-table th:nth-child(6), #purchase-summary-table th:nth-child(7), #purchase-summary-table td:nth-child(6), #purchase-summary-table td:nth-child(7) {
  display: none;
}
#purchase-summary-table .remove-row {
  display: none;
  position: absolute;
  right: -12px;
  top: -12px;
  height: 24px !important;
  width: 24px !important;
  opacity: 0.8;
  transition: 0.2s;
}
#purchase-summary-table .remove-row .ti-close {
  font-size: 10px;
}
#purchase-summary-table .remove-row:hover, #purchase-summary-table .remove-row:focus {
  opacity: 1;
  transition: 0.2s;
}

.text-field {
  display: inline-block;
  margin-bottom: 10px;
}
.text-field label {
  font-size: 12px;
  color: #686868;
  margin: 0;
  font-weight: 500;
  user-select: none;
  text-transform: uppercase;
}
.text-field p {
  background-color: #f2f2f2;
  font-size: 12px;
  color: #000;
  padding: 8px 5px;
  margin: 0;
  line-height: 1.8em;
  min-height: 37px;
  text-transform: uppercase;
}

input[type='date'] {
  font-size: 12px;
}

.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .text-right-sm {
    text-align: right !important;
  }
}
@media (max-width: 575px) {
  .text-center-xs {
    text-align: center !important;
  }
}
.footer {
  background-color: #fafafa;
}

.hidden {
  display: none;
}

.status_active {
  background-color: #71c016;
  padding: 5px;
  font-size: 11px;
  color: #fff;
  display: inline-flex;
  border-radius: 50%;
}

.status_inactive {
  background: #ff4747;
  padding: 5px;
  font-size: 11px;
  color: #fff;
  display: inline-flex;
  border-radius: 50%;
}

.bg-none {
  background-color: transparent;
}

.bg-light-2 {
  background-color: #e3e3e3 !important;
}

.text-light-2 {
  color: #e3e3e3;
}

.sidebar-icon-only #sidebar #filters {
  display: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  pointer-events: all !important;
}
.disabled:hover {
  cursor: not-allowed !important;
  pointer-events: all !important;
}

.no-wrap {
  white-space: nowrap;
}

.confirm-modal .modal-title {
  text-transform: capitalize !important;
}
.confirm-modal .modal-body {
  text-transform: initial !important;
  text-align: left;
  white-space: normal !important;
}
.confirm-modal .modal-footer button {
  padding: inherit !important;
}
.confirm-modal .modal-footer > :not(:last-child) {
  margin-left: 0;
}

.border-radius-2 {
  border-radius: 2px !important;
}

.border-radius-left-2 {
  border-radius: 2px 0 0 2px !important;
}

.border-radius-right-2 {
  border-radius: 0 2px 2px 0 !important;
}

.border-bottom-style-dotted {
  border-bottom-style: dotted !important;
}

.void:after,
.returned:after {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}

.void:after {
  content: url("../images/void-stamp.png");
}

.returned:after {
  content: url("../images/returned-stamp.png");
}

.border-top-light {
  border-top: solid 1px #e3e3e3;
}

.border-top-double {
  border-top: double 3px #c9ccd7 !important;
}

.border-bottom-dark-2 {
  border-bottom: 2px solid #545454 !important;
}

.border-top-dark-2 {
  border-top: 2px solid #545454 !important;
}

.border-top-dark {
  border-color: #a2a2a2;
}

.added-to-cart {
  color: #248afd;
  cursor: default;
  pointer-events: none;
  background-color: transparent;
  border: none;
}

.datepicker-left {
  border-radius: 2px 0 0 2px !important;
}

.datepicker-right {
  border-radius: 0 2px 2px 0 !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-14 {
  font-size: 14px !important;
}

.has-loader {
  display: none;
}

.bg-dim {
  background-color: #f2f2f2;
}

.m-10px {
  margin: 10px;
}

.mx-10px {
  margin-left: 10px;
  margin-right: 10px;
}

.my-10px {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-10px {
  margin-top: 10px;
}

.ml-10px {
  margin-left: 10px;
}

.mb-10px {
  margin-bottom: 10px;
}

.mr-10px {
  margin-right: 10px;
}

#cart,
#product-table,
#report-table,
#transaction-table,
#fund-table,
#expenses-table,
#customer-table,
#type-table,
#brand-table,
#appraiser-table,
#location-table,
#user-table,
#admin-table {
  margin-bottom: 0 !important;
}
#cart thead th,
#cart tfoot th,
#product-table thead th,
#product-table tfoot th,
#report-table thead th,
#report-table tfoot th,
#transaction-table thead th,
#transaction-table tfoot th,
#fund-table thead th,
#fund-table tfoot th,
#expenses-table thead th,
#expenses-table tfoot th,
#customer-table thead th,
#customer-table tfoot th,
#type-table thead th,
#type-table tfoot th,
#brand-table thead th,
#brand-table tfoot th,
#appraiser-table thead th,
#appraiser-table tfoot th,
#location-table thead th,
#location-table tfoot th,
#user-table thead th,
#user-table tfoot th,
#admin-table thead th,
#admin-table tfoot th {
  font-size: 12px;
  text-align: center;
  font-family: serif;
  font-weight: bold;
}
#cart thead th,
#product-table thead th,
#report-table thead th,
#transaction-table thead th,
#fund-table thead th,
#expenses-table thead th,
#customer-table thead th,
#type-table thead th,
#brand-table thead th,
#appraiser-table thead th,
#location-table thead th,
#user-table thead th,
#admin-table thead th {
  background-color: #f2f2f2;
  padding: 18px 8px 12px !important;
  border-bottom: 0 !important;
  border-top: solid 1px #e3e3e3;
  border-bottom: solid 1px #e3e3e3 !important;
  position: sticky;
  top: 0;
}
#cart thead th:first-child,
#product-table thead th:first-child,
#report-table thead th:first-child,
#transaction-table thead th:first-child,
#fund-table thead th:first-child,
#expenses-table thead th:first-child,
#customer-table thead th:first-child,
#type-table thead th:first-child,
#brand-table thead th:first-child,
#appraiser-table thead th:first-child,
#location-table thead th:first-child,
#user-table thead th:first-child,
#admin-table thead th:first-child {
  border-left: solid 1px #e3e3e3;
}
#cart thead th:last-child,
#product-table thead th:last-child,
#report-table thead th:last-child,
#transaction-table thead th:last-child,
#fund-table thead th:last-child,
#expenses-table thead th:last-child,
#customer-table thead th:last-child,
#type-table thead th:last-child,
#brand-table thead th:last-child,
#appraiser-table thead th:last-child,
#location-table thead th:last-child,
#user-table thead th:last-child,
#admin-table thead th:last-child {
  border-right: solid 1px #e3e3e3;
}
#cart thead th + th,
#product-table thead th + th,
#report-table thead th + th,
#transaction-table thead th + th,
#fund-table thead th + th,
#expenses-table thead th + th,
#customer-table thead th + th,
#type-table thead th + th,
#brand-table thead th + th,
#appraiser-table thead th + th,
#location-table thead th + th,
#user-table thead th + th,
#admin-table thead th + th {
  border-left: solid 1px #fff;
}
#cart thead:after,
#product-table thead:after,
#report-table thead:after,
#transaction-table thead:after,
#fund-table thead:after,
#expenses-table thead:after,
#customer-table thead:after,
#type-table thead:after,
#brand-table thead:after,
#appraiser-table thead:after,
#location-table thead:after,
#user-table thead:after,
#admin-table thead:after {
  height: 1px;
  display: block;
  margin-top: -1px;
  margin-bottom: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
#cart tbody td,
#product-table tbody td,
#report-table tbody td,
#transaction-table tbody td,
#fund-table tbody td,
#expenses-table tbody td,
#customer-table tbody td,
#type-table tbody td,
#brand-table tbody td,
#appraiser-table tbody td,
#location-table tbody td,
#user-table tbody td,
#admin-table tbody td {
  padding: 10px 5px !important;
}
#cart tbody td:first-child,
#product-table tbody td:first-child,
#report-table tbody td:first-child,
#transaction-table tbody td:first-child,
#fund-table tbody td:first-child,
#expenses-table tbody td:first-child,
#customer-table tbody td:first-child,
#type-table tbody td:first-child,
#brand-table tbody td:first-child,
#appraiser-table tbody td:first-child,
#location-table tbody td:first-child,
#user-table tbody td:first-child,
#admin-table tbody td:first-child {
  border-left: solid 1px #e3e3e3;
}
#cart tbody td:last-child,
#product-table tbody td:last-child,
#report-table tbody td:last-child,
#transaction-table tbody td:last-child,
#fund-table tbody td:last-child,
#expenses-table tbody td:last-child,
#customer-table tbody td:last-child,
#type-table tbody td:last-child,
#brand-table tbody td:last-child,
#appraiser-table tbody td:last-child,
#location-table tbody td:last-child,
#user-table tbody td:last-child,
#admin-table tbody td:last-child {
  border-right: solid 1px #e3e3e3;
}
#cart tbody td + td,
#product-table tbody td + td,
#report-table tbody td + td,
#transaction-table tbody td + td,
#fund-table tbody td + td,
#expenses-table tbody td + td,
#customer-table tbody td + td,
#type-table tbody td + td,
#brand-table tbody td + td,
#appraiser-table tbody td + td,
#location-table tbody td + td,
#user-table tbody td + td,
#admin-table tbody td + td {
  border-left: dotted 1px #e3e3e3;
}
#cart tbody.no-border tr:first-child td,
#product-table tbody.no-border tr:first-child td,
#report-table tbody.no-border tr:first-child td,
#transaction-table tbody.no-border tr:first-child td,
#fund-table tbody.no-border tr:first-child td,
#expenses-table tbody.no-border tr:first-child td,
#customer-table tbody.no-border tr:first-child td,
#type-table tbody.no-border tr:first-child td,
#brand-table tbody.no-border tr:first-child td,
#appraiser-table tbody.no-border tr:first-child td,
#location-table tbody.no-border tr:first-child td,
#user-table tbody.no-border tr:first-child td,
#admin-table tbody.no-border tr:first-child td {
  border-top: 0;
}
#cart tbody.no-border tr td:first-child,
#product-table tbody.no-border tr td:first-child,
#report-table tbody.no-border tr td:first-child,
#transaction-table tbody.no-border tr td:first-child,
#fund-table tbody.no-border tr td:first-child,
#expenses-table tbody.no-border tr td:first-child,
#customer-table tbody.no-border tr td:first-child,
#type-table tbody.no-border tr td:first-child,
#brand-table tbody.no-border tr td:first-child,
#appraiser-table tbody.no-border tr td:first-child,
#location-table tbody.no-border tr td:first-child,
#user-table tbody.no-border tr td:first-child,
#admin-table tbody.no-border tr td:first-child {
  border-left: 0;
}
#cart tbody.no-border tr td:last-child,
#product-table tbody.no-border tr td:last-child,
#report-table tbody.no-border tr td:last-child,
#transaction-table tbody.no-border tr td:last-child,
#fund-table tbody.no-border tr td:last-child,
#expenses-table tbody.no-border tr td:last-child,
#customer-table tbody.no-border tr td:last-child,
#type-table tbody.no-border tr td:last-child,
#brand-table tbody.no-border tr td:last-child,
#appraiser-table tbody.no-border tr td:last-child,
#location-table tbody.no-border tr td:last-child,
#user-table tbody.no-border tr td:last-child,
#admin-table tbody.no-border tr td:last-child {
  border-right: 0;
}
#cart tbody.no-border tr td + td,
#product-table tbody.no-border tr td + td,
#report-table tbody.no-border tr td + td,
#transaction-table tbody.no-border tr td + td,
#fund-table tbody.no-border tr td + td,
#expenses-table tbody.no-border tr td + td,
#customer-table tbody.no-border tr td + td,
#type-table tbody.no-border tr td + td,
#brand-table tbody.no-border tr td + td,
#appraiser-table tbody.no-border tr td + td,
#location-table tbody.no-border tr td + td,
#user-table tbody.no-border tr td + td,
#admin-table tbody.no-border tr td + td {
  border-left: 0;
}
#cart tbody.narrow-height tr td,
#product-table tbody.narrow-height tr td,
#report-table tbody.narrow-height tr td,
#transaction-table tbody.narrow-height tr td,
#fund-table tbody.narrow-height tr td,
#expenses-table tbody.narrow-height tr td,
#customer-table tbody.narrow-height tr td,
#type-table tbody.narrow-height tr td,
#brand-table tbody.narrow-height tr td,
#appraiser-table tbody.narrow-height tr td,
#location-table tbody.narrow-height tr td,
#user-table tbody.narrow-height tr td,
#admin-table tbody.narrow-height tr td {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
#cart.no-footer,
#product-table.no-footer,
#report-table.no-footer,
#transaction-table.no-footer,
#fund-table.no-footer,
#expenses-table.no-footer,
#customer-table.no-footer,
#type-table.no-footer,
#brand-table.no-footer,
#appraiser-table.no-footer,
#location-table.no-footer,
#user-table.no-footer,
#admin-table.no-footer {
  border-bottom: solid 1px #e3e3e3;
}
#cart tfoot th,
#product-table tfoot th,
#report-table tfoot th,
#transaction-table tfoot th,
#fund-table tfoot th,
#expenses-table tfoot th,
#customer-table tfoot th,
#type-table tfoot th,
#brand-table tfoot th,
#appraiser-table tfoot th,
#location-table tfoot th,
#user-table tfoot th,
#admin-table tfoot th {
  background-color: #f2f2f2;
  padding: 15px 8px !important;
  border-top: solid 1px #e3e3e3;
  border-bottom: solid 1px #e3e3e3;
}
#cart tfoot th:first-child,
#product-table tfoot th:first-child,
#report-table tfoot th:first-child,
#transaction-table tfoot th:first-child,
#fund-table tfoot th:first-child,
#expenses-table tfoot th:first-child,
#customer-table tfoot th:first-child,
#type-table tfoot th:first-child,
#brand-table tfoot th:first-child,
#appraiser-table tfoot th:first-child,
#location-table tfoot th:first-child,
#user-table tfoot th:first-child,
#admin-table tfoot th:first-child {
  border-left: solid 1px #e3e3e3;
}
#cart tfoot th:last-child,
#product-table tfoot th:last-child,
#report-table tfoot th:last-child,
#transaction-table tfoot th:last-child,
#fund-table tfoot th:last-child,
#expenses-table tfoot th:last-child,
#customer-table tfoot th:last-child,
#type-table tfoot th:last-child,
#brand-table tfoot th:last-child,
#appraiser-table tfoot th:last-child,
#location-table tfoot th:last-child,
#user-table tfoot th:last-child,
#admin-table tfoot th:last-child {
  border-right: solid 1px #e3e3e3;
}
#cart tfoot th,
#product-table tfoot th,
#report-table tfoot th,
#transaction-table tfoot th,
#fund-table tfoot th,
#expenses-table tfoot th,
#customer-table tfoot th,
#type-table tfoot th,
#brand-table tfoot th,
#appraiser-table tfoot th,
#location-table tfoot th,
#user-table tfoot th,
#admin-table tfoot th {
  border-left: dotted 1px #e3e3e3;
}
#cart tfoot.hidden-footer tr th, #cart tfoot.hidden-footer tr td,
#product-table tfoot.hidden-footer tr th,
#product-table tfoot.hidden-footer tr td,
#report-table tfoot.hidden-footer tr th,
#report-table tfoot.hidden-footer tr td,
#transaction-table tfoot.hidden-footer tr th,
#transaction-table tfoot.hidden-footer tr td,
#fund-table tfoot.hidden-footer tr th,
#fund-table tfoot.hidden-footer tr td,
#expenses-table tfoot.hidden-footer tr th,
#expenses-table tfoot.hidden-footer tr td,
#customer-table tfoot.hidden-footer tr th,
#customer-table tfoot.hidden-footer tr td,
#type-table tfoot.hidden-footer tr th,
#type-table tfoot.hidden-footer tr td,
#brand-table tfoot.hidden-footer tr th,
#brand-table tfoot.hidden-footer tr td,
#appraiser-table tfoot.hidden-footer tr th,
#appraiser-table tfoot.hidden-footer tr td,
#location-table tfoot.hidden-footer tr th,
#location-table tfoot.hidden-footer tr td,
#user-table tfoot.hidden-footer tr th,
#user-table tfoot.hidden-footer tr td,
#admin-table tfoot.hidden-footer tr th,
#admin-table tfoot.hidden-footer tr td {
  padding: 5px !important;
  background: none;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}

.datepicker-item {
  position: relative;
}

.datepicker-label {
  opacity: 0;
  position: absolute;
  font-size: 10px;
  bottom: -18px;
  left: 0;
  margin: 0;
  color: #686868;
  font-weight: 600;
  transition: opacity 0.3s;
}

input.datepicker:not(:placeholder-shown) + .datepicker-label {
  opacity: 1;
  transition: opacity 0.3s;
}

.icon-bg-peso {
  background: url(../svg/peso.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 35px;
  /*inset 32px 0 0 #c9ccd7*/
}

.icon-bg-calendar {
  background: url(../svg/event.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 40px;
}

.input-group-append {
  width: calc(100% - 40px);
}

.border-bottom-nav {
  border-bottom: solid 1px #e3e3e3;
}

@media (max-width: 576px) {
  .border-xs-right-nav {
    border-right: solid 1px #e3e3e3;
  }

  .border-xs-left-nav {
    border-left: solid 1px #e3e3e3;
  }

  .bg-xs-white {
    background-color: #ffffff;
  }
}
.h-42px {
  height: 42px !important;
}

ul.list-inline-barred {
  padding-left: 0 !important;
  /*li:(not(:last-child)) {*/
  /*border-right: solid 1px #e3e3e3;*/
  /*padding-left: 0.5rem;*/
  /*}*/
}
ul.list-inline-barred li {
  line-height: 1.5em;
}
ul.list-inline-barred li:not(:last-child) {
  border-right: solid 1px #e3e3e3;
  padding-right: 0.5rem;
}

.bg-img-none {
  background-image: none !important;
}

.btn.btn-md {
  padding: 11px 18px;
  font-size: 12px;
  border-radius: 2px;
}

#filter-wrapper input {
  height: 36px;
}
#filter-wrapper .datepicker {
  max-width: 100px;
  font-size: 12px;
}

.border-light-2 {
  border-color: #c9ccd7;
}

.date-range-separator {
  height: 36px;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  position: relative;
  z-index: 2;
  margin-left: -1px;
  margin-right: -1px;
  padding-left: 0;
  padding-right: 0;
  background-color: #fff;
}

.slimScrollDiv {
  overflow: visible !important;
}

.bg-cgp {
  background-color: #ec1e27 !important;
}

.text-cgp {
  color: #ec1e27 !important;
}

.border-color-cgp {
  border-color: #ec1e27 !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-bottom: 0;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #71c016;
}
input:focus + .slider {
  box-shadow: 0 0 1px #71c016;
}
input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.locked label {
  user-select: none;
}

.locked input[type='text'],
.locked input[type='email'],
.locked input[type='number'],
.locked .select2-selection,
.locked select, .locked textarea {
  pointer-events: none;
  background-color: #f2f2f2 !important;
  border-color: transparent !important;
  color: #000;
  transition: all 0.2s;
}

.locked select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #000;
}

.locked .select2-selection .select2-selection__rendered {
  color: #000 !important;
}

.locked .select2-selection .select2-selection__arrow {
  display: none;
}

.line-height-1-5em {
  line-height: 1.5em;
}

.user-select-none {
  user-select: none;
}

.transition-2 {
  transition: 0.2s;
}

.pointer-events-none {
  pointer-events: none;
}

#report-form .btn {
  text-transform: uppercase;
}

.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@media (min-width: 576px) {
  .position-sm-absolute {
    position: absolute;
  }
}
