input.error,
input.error p {
  margin-bottom: 35px;
  border-color: rgba(204, 0, 0, 0.5);
}

label.error,
label.error p {
  position: absolute;
  color: rgba(204, 0, 0, 0.8);
  bottom: -35px;
  font-size: 13px !important;
}

.errors-authentication,
.errors-validation {
  margin-top: 20px;
  color: rgba(204, 0, 0, 0.8);
  margin-bottom: 0;
}

.errors-authentication p,
.narrow-gutters {
  margin-left: -5px;
  margin-right: -5px;
}
.errors-authentication p > div[class^="col"],
.narrow-gutters > div[class^="col"] {
  padding-right: 5px;
  padding-left: 5px;
}

.errors-validation p {
  color: rgba(204, 0, 0, 0.8);
  margin-bottom: 0;
  /*ec1e27*/
}

.bg-cgp {
  background-color: #ec1e27;
}

.text-cgp {
  color: #ec1e27;
}

.editing input[type='text']:not([readonly]),
.editing input[type='email']:not([readonly]),
.editing input[type='number']:not([readonly]),
.editing .select2-selection:not([readonly]),
.editing select:not([readonly]),
.editing textarea:not([readonly]) {
  background-image: url(../svg/edit-info.svg);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 7px);
  background-position-y: 10px;
  padding-right: 26px;
}

.locked label {
  user-select: none;
}
.locked input[type='text'],
.locked input[type='email'],
.locked input[type='number'],
.locked .select2-selection,
.locked select,
.locked textarea {
  pointer-events: none;
  border-color: #dee2e6 !important;
  color: #212529;
  transition: all 0.2s;
}
.locked select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #212529;
}
.locked .select2-selection .select2-selection__rendered {
  color: #212529 !important;
}
.locked .select2-selection .select2-selection__arrow {
  display: none;
}

input[readonly],
textarea[readonly] {
  cursor: not-allowed;
}

.dataTables_length label select,
.dataTables_length label input,
.dataTables_filter label select,
.dataTables_filter label input {
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.dataTables_length label select:focus,
.dataTables_length label input:focus,
.dataTables_filter label select:focus,
.dataTables_filter label input:focus {
  outline: none;
}
